/********************************* THIS FIRST BIT OF CSS CAME WITH EVERYTHING *********************************/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



/********************************* MY CSS STARTS HERE *********************************/
/* CSS Variables */
:root {
    /*--portfolio-primary: #0A241E;*/ /* global scope */
    --portfolio-primary: #0F423B; /* global scope */
    /*--portfolio-primary-light: #13463B;*/ /* global scope */
    --portfolio-primary-light: #166056; /* global scope */
    --portfolio-accent: #fff; /* global scope */
}

.btn-outline-portfolio {
    --bs-btn-color: var(--portfolio-accent);
    --bs-btn-border-color: var(--portfolio-accent);
    --bs-btn-hover-color: var(--portfolio-primary);
    --bs-btn-hover-bg: var(--portfolio-accent);
    --bs-btn-hover-border-color: var(--portfolio-accent);
}




/* General Overrides */
body {
    background-color: var(--portfolio-primary);
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1rem;
}

a {
    text-decoration:none;
    color: white;
}

ul {
    list-style: none;
}


/* Bootstrap Overrides */
.container {
    padding-top: 50px;
}

.btn-outline-brand {
    background
}
/* Custom Classes */

/*.background-2 {
    background-color: #222222
}*/

.text-emphasis {
    color: #fff;
    font-weight: bold;
}

.hero-section {
    position: sticky;
    top: 3rem;
}