@model List<ExperienceModel>

<div class="row">
        @foreach (var job in Model)
        {
            <h3>@job.Title</h3>
            <p>@job.Description</p>
            @foreach (var skill in job.Skills)
            {
                <p>@skill.Name</p>
            }
        }
</div>