<div class="row background-2">
    <p>Over 3 years of experience in the full software development lifecycle, following Agile methodologies.  
        Proven ability to build scalable, high-performance web applications. 
        Skilled in full-stack development, from requirements gathering to front-end and back-end design and implementation.</p>
    @* <div class="col-4">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSgzH1sBCto4GDUZcarl_EN3UaeBSv6fnVJPBxNcGBLuX0ZKFQZ" />
    </div>
    <div class="col-8">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>, consectetur adipiscing elit. Donec lorem sapien, semper at justo nec, imperdiet eleifend nisl. Aenean id consectetur purus. Pellentesque fringilla bibendum nisi, in porta velit elementum id. Proin accumsan eget elit posuere iaculis. Nulla sagittis diam ut lacus egestas tincidunt. Morbi commodo tortor nunc, ut facilisis tellus laoreet nec. Vestibulum quis commodo elit. Morbi sed enim est. Etiam tincidunt tortor augue.</p>
    </div> *@
</div>