<div class="row">
    <div class="intro-wrap">
        <p>
            I’m a full-stack developer with experience building scalable web applications using ASP.NET, C#, JavaScript, and SQL. 
            I enjoy creating clean, user-friendly experiences and solving problems across both front-end and back-end systems.
        </p>
        <p>I currently work at <a href="https://chalkcouture.com" class="text-emphasis">Chalk Couture</a> 
            where I work on maintaining and adding features to the company website. I am passionate about building user-friendly web applications 
            that are clean and intuitive.
        </p>
        <p>Outside of work, I’m usually watching sports, especially the NFL (go Rams!), 
            attempting to improve my golf game, going to concerts, 
            or relaxing at home with games and music.
        </p>
        @* <div class="col-4">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSgzH1sBCto4GDUZcarl_EN3UaeBSv6fnVJPBxNcGBLuX0ZKFQZ" />
        </div>
        <div class="col-8">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>, consectetur adipiscing elit. Donec lorem sapien, semper at justo nec, imperdiet eleifend nisl. Aenean id consectetur purus. Pellentesque fringilla bibendum nisi, in porta velit elementum id. Proin accumsan eget elit posuere iaculis. Nulla sagittis diam ut lacus egestas tincidunt. Morbi commodo tortor nunc, ut facilisis tellus laoreet nec. Vestibulum quis commodo elit. Morbi sed enim est. Etiam tincidunt tortor augue.</p>
        </div> *@
    </div>
</div>