@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col-lg-6">
        <h1>Brandon Chase</h1>
        <h3>Full-Stack Software Developer</h3>
        <h4>3+ years developing with ASP.NET</h4>
    </div>
    <div class="col-lg-6">
        @await Html.PartialAsync("_Intro")
        @await Html.PartialAsync("_Experience.cshtml", Model.Experience)
    </div>
</div>

@* @await Html.PartialAsync("_Skills", Model.Skills) *@
